.container {
  width: 100%;
  padding: 2rem 4rem;
  font-family: sans-serif;
  background-color: var(--background-secondary);
  color: var(--text-primary);
}

.header {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--accent-primary);
}

.filters {
  margin-bottom: 1.5rem;
  text-align: center;
}

.button {
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  border: 1px solid var(--accent-primary);
  border-radius: 5px;
  background-color: transparent;
  color: var(--accent-primary);
  transition: all 0.3s ease;
}

.button:hover {
  background-color: rgba(156, 39, 176, 0.2); /* Using specific color for hover */
}

.activeButton {
  background-color: var(--accent-primary);
  color: #fff;
}

.disabledButton {
  cursor: not-allowed;
  opacity: 0.5;
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.th {
  padding: 0.75rem;
  border-bottom: 2px solid var(--accent-primary);
  background-color: rgba(156, 39, 176, 0.1);
}

.td {
  padding: 0.75rem;
  border-bottom: 1px solid var(--border-color);
}

.table tbody tr:hover {
  background-color: var(--background-tertiary);
}

.usernameLink {
  color: var(--text-primary);
  text-decoration: none;
}

.rank {
  font-weight: bold;
  color: var(--accent-primary);
}

.message {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.usernameLink:hover {
  text-decoration: underline;
  color: var(--accent-secondary);
}